<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="banner_listing_data_source" xsi:type="string">
                    Robin\Bai1\Model\ResourceModel\Banner\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Robin\Bai1\Model\ResourceModel\Banner\Grid\Collection"
        type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">banner</argument>
            <argument name="resourceModel" xsi:type="string">Robin\Bai1\Model\ResourceModel\Banner</argument>
        </arguments>
    </virtualType>

    <virtualType name="Robin\Bai1\BannerImageUpload"
        type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">banner/tmp/images</argument>
            <argument name="basePath" xsi:type="string">banner/images</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="jpg" xsi:type="string">image/jpg</item>
                <item name="jpeg" xsi:type="string">image/jpeg</item>
                <item name="gif" xsi:type="string">image/gif</item>
                <item name="png" xsi:type="string">image/png</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Robin\Bai1\Controller\Adminhtml\Index\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Robin\Bai1\BannerImageUpload</argument>
        </arguments>
    </type>

    <type name="Magento\Catalog\Ui\DataProvider\Product\ProductDataProvider">
        <arguments>
            <argument name="addFilterStrategies" xsi:type="array">
                <item name="fulltext" xsi:type="object">
                    Magento\CatalogSearch\Ui\DataProvider\Product\AddFulltextFilterToCollection</item>
            </argument>
        </arguments>
    </type>

</config>